<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Forgot Password</title>
    <style>
        .cont input {
            padding: 8px;
            margin-top: 4px;
            margin-bottom: 12px;
            border: none;
            border-bottom: #4CAF50 2px solid;
            outline: none;
            border-radius: 4px;
            width: 100%;
            box-sizing: border-box;
        }

        .cont button {
            padding: 10px;
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        .cont button:hover {
            background-color: #45a049;
        }

        #resetSection {
             display: none; 
        }
    </style>
</head>

<body>
    <form onsubmit="resetPassword(event);">
        <div
            class="cont bg-black h-[100dvh] w-[100dvw] flex flex-col justify-center items-center text-white gap-6 bg-[url('/images/6251155.jpg')] bg-cover bg-center sm:text-base text-sm">
            <div class="forgotPass border-2 border-white p-6 rounded-xl bg-[rgba(5,5,5,0.5)] ">
                <h1 class="text-center pb-5">Forgot Password</h1>
                <div class="flex flex-col gap-5">
                    <div class="info">
                        <label for="email">Enter Username:</label>
                        <input type="text" id="username" name="username"
                            title="Username may contain only letters and numbers" pattern="[A-Za-z0-9]{4,12}" required>
                        <button onclick="fetchData(this)" type="button">Fetch</button>
                    </div>
                    <div class="flex flex-col" id="resetSection">
                        <label for="password">New Password:</label>
                        <div class="np relative">
                            <input type="password" id="password" name="password"
                                title="Password must be at least 8 characters, include uppercase, lowercase, number, and special character"
                                pattern="^(?=.*[A-Z])(?=.*[a-z])(?=.*\d)(?=.*[^A-Za-z0-9]).{8,}$" minlength="8"
                                maxlength="12" required>
                            <div onclick="togglePasswordVisibility(this.previousElementSibling, this)" class="eyeChange absolute right-2 bottom-4">
                                <img class="invert" width="16px" height="16px" src="images/eye.png" alt="">
                            </div>
                        </div>
                        <label for="confirmPassword">Confirm New Password:</label>
                        <div class="cp relative">
                            <input type="password" id="confirmPassword" name="confirmPassword"
                                title="Password must be at least 8 characters, include uppercase, lowercase, number, and special character"
                                pattern="^(?=.*[A-Z])(?=.*[a-z])(?=.*\d)(?=.*[^A-Za-z0-9]).{8,}$" minlength="8"
                                maxlength="12" required>
                            <div onclick="togglePasswordVisibility(this.previousElementSibling, this)"
                                class="eyeChange absolute right-2 bottom-4">
                                <img class="invert" width="16px" height="16px" src="images/eye.png" alt="">
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="border px-2 bg-[rgba(255,255,255,0.1)] rounded-lg">Reset Password</button>
                </div>
            </div>
            
        </div>
    </form>
</body>
<script>
    function fetchData(target) {
        let username = document.getElementById('username')
        let user = username.value.trim();
        if (!user) {
            alert("Please enter a username.");
            return;
        }
        if (user.length < 4) {
            alert("Username must be at least 4 characters long.");
            return;
        }
        fetch("/fetchData", {
            method: 'POST',
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify({ username: user })
        })
            .then(res => res.json())
            .then(data => {
                alert(data.message);
                if (data.status === 'ok') {
                    document.getElementById('resetSection').style.display = 'flex';
                    target.disabled = true;
                    target.style.backgroundColor = 'gray';
                    username.disabled = true;
                }
            })
            .catch(err => {
                console.error("Fetch error:", err);
            })
    }


    function validateForm() {
        let password = document.getElementById('password').value;
        let confirmPassword = document.getElementById('confirmPassword').value;

        if (password !== confirmPassword) {
            alert("Passwords do not match.");
            return false;
        }
        if (password.length < 8 || confirmPassword.length < 8) {
            alert("Password must be at least 8 characters long.");
            return false;
        }
        return true;
    }

    function togglePasswordVisibility(passwordInput, eyeChange) {
        if (passwordInput.type === 'password') {
            passwordInput.type = 'text';
            eyeChange.innerHTML = '<img class="invert" width="16px" height="16px" src="images/eye-off.png" alt="">';

        } else {
            passwordInput.type = 'password';
            eyeChange.innerHTML = '<img class="invert" width="16px" height="16px" src="images/eye.png" alt="">';
        }
    }

    function resetPassword(event) {
        event.preventDefault();
        if (!validateForm()) {
            return;
        }
        let username = document.getElementById('username').value;
        let password = document.getElementById('password').value;

        fetch("/resetPassword", {
            method: 'POST',
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify({ username: username, password: password })
        })
            .then(res => res.json())
            .then(data => {
                alert(data.message);
                if (data.status === 'ok') {
                    window.location.href = '/';
                }
            })
            .catch(err => {
                console.error("Fetch error:", err);
            })
    }



</script>

</html>