<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/images/login.png" type="image/png" rel="icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"
        rel="stylesheet">
    <title>Login</title>
    <style>
        :root {
            font-family: "Playfair Display", serif;
            font-optical-sizing: auto;
            font-weight: 900;
            font-style: normal;
        }

        @media all and (max-width:300px),(max-height:300px){
            :root{
                font-size: 8px;
            }
        }
    </style>
</head>

<body>
    <form>
    <div
        class="login bg-[url('images/login-bg.jpg')] h-dvh flex flex-col justify-center items-center w-dvw bg-cover bg-center font-bold">
        <div
            class="h-fit w-[90%] sm:w-[70%] bg-[rgba(255,255,255,0.2)] text-white rounded-lg shadow-lg border flex flex-col items-center p-4 gap-8">
            <h1 class="text-4xl font-bold text-center
"><span class="bg-[linear-gradient(to_top,#C52B2B_0%,#BA6530_25%,#EDDC12_50%,#05FF8E_75%,#CA1F55_100%)] text-transparent [background-clip:text] [-webkit-text-stroke:0.5px_#05FF8E]">Login</span>
            </h1>
            <div class="w-[90%] flex flex-col gap-3">
                <label class="text-red-700 font-bold" for="username">Username:*</label>
                <input class="border border-b-orange-200 border-x-0 border-t-0 border-2 outline-none w-[90%]"
                    type="text" id="username" name="username" required>
            </div>
            <div class="w-[90%] flex flex-col gap-3">
                <label class="text-yellow-200" for="password">Password:*</label>
                <div class="w-[90%] relative">
                    <input class="border border-b-[#17E6A8] border-x-0 border-t-0 border-2  outline-none w-full"
                        type="password" id="password" name="password" required>
                    <div class="eyeChange absolute right-0 bottom-1">
                        <img width="16px" height="16px" src="images/eye.png" alt="">
                    </div>
                </div>
            </div>
            <div class="w-[90%]">
                <a class="text-red-400 underline decoration-blue-500" href="/forgotPassword">Forgot Password?</a>
            </div>
            <button class="w-[90%] bg-[#4B00FA] border border-red-800 border-2 rounded-lg" type="submit">Login</button>
            <div class="w-fit bg-gray-100 flex justify-center items-center px-3 py-1 rounded-lg">
                <p class="text-gray-900">does not have an account? <a class="text-blue-400 underline decoration-red-500"
                        href="/signup">Sign up here</a></p>
            </div>
        </div>
    </div>
    </form>
</body>
<script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
<script>
    let passwordInput = document.getElementById('password');
    let eyeChange = document.querySelector('.eyeChange');
    eyeChange.addEventListener('click', function () {
        if (passwordInput.type === 'password') {
            passwordInput.type = 'text';
            eyeChange.innerHTML = '<img width="16px" height="16px" src="images/eye-off.png" alt="">';
        } else {
            passwordInput.type = 'password';
            eyeChange.innerHTML = '<img width="16px" height="16px" src="images/eye.png" alt="">';
        }
    });
   
</script>
<script src="javascript/login.js"></script>
<script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

</html>